<div class="container">
  <div class="party">
  <h2 class="mt-2">Créer un compte</h2>
  <%= render "shared/cookies" %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :pseudo,
                  required: true %>
      <%= f.input :avatar, as: :file %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "S'enregistrer", class: "btn signin-btn mt-4" %>
    </div>
  <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
