
<div class="edit-container">
    <div>
        <h1><%= @game.name %></h1>
        <% if @game_departments.any? %>
            <p><strong>Code : </strong><%= @game.code %></p>
            <% if !@users.include?(current_user) %>
                <%= link_to "Rejoindre la partie", games_check_code_path, :class=>"redirect-btn" %>
            <% end %>
        <% else %>
            <div class="info">
                Il est nécessaire d'ajouter au moins une équipe pour rejoindre la partie
            </div>
        <% end %>
    </div>
    <div class="edit-flex">
        <div class="edit-category-right">
            <h2 class="title-cat-right">Liste des équipes</h2>
            <div class="card-table">
                <table>
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Nombre de participants</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @rang = 0 %>
                        <% @game_departments.each do |department| %>
                        <tr>
                            <th scope="row"><%= @rang += 1 %></th>
                            <td><%= department.name %></td>
                            <td><%= UsersGame.where(department: department).count %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <div data-controller="newteam">
                    <div class="team-add">Ajouter une équipe<i class="fa-solid fa-circle-plus" data-newteam-target="btn" data-action="click->newteam#display"></i>
                    </div>
                    <div class="d-none" data-newteam-target="form">
                        <%= render "shared/edit-game" %> 
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-category-right">
            <h2 class="title-cat-right">Liste des participants</h2>
            <div class="card-table">
                <table>
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Equipe</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @rang = 0 %>
                        <% @game_users.each do |user| %>
                        <tr>
                            <th scope="row"><%= @rang += 1 %></th>
                            <td><%= user.user.pseudo %></td>
                            <td><%= user.department.name %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>