<div class="match">
    <div class="home-team">
        <div class="flag flag-left">
            <img src="<%= match.home_team.flag %>" alt="<%= match.home_team.name %> Flag">
        </div>
        <div class="team-name">
            <%= match.home_team.name %>
        </div>
        <div class="shape">
        </div>
    </div>
    <div class="score">
        <div class="group text-center mb-2">
            Groupe <%= match.group %>
        </div>
        <div class="prono">
            <div class="monprono">Mon prono :</div>
            <%# L'encodage de prono n'est possible que jusqu'à 10min avant le début du match %>
            <% if ((match.date - Time.now) >= 70*60)  && !@dashboard %>
              <div>
                <%= render "shared/my-prono-form", match: match, prono: prono.nil? ? Pronostic.new : prono %>
              </div>
            <% elsif   %>
                <div class="input-prono">
                    <div class="team-prono form-control">
                        <%= prono.home_team_prono unless prono.nil? %>
                    </div>
                    <div class="team-prono form-control">
                        <p><%= prono.away_team_prono unless prono.nil? %></p>
                    </div>
                </div>
            <% elsif @dashboard %>
              <div>
                <%= render "shared/my-prono-form-readonly", match: match, prono: @prono %>
              </div>
            <% end %>
            <% if match.home_team_result.nil? %>
                <div class="hour">
                    <%= match.date.strftime("%H:%M") %>
                </div>
            <% else %>
                <div class="result">
                    <div>Score final :</div>
                    <div class="final-result"><%= match.home_team_result %> - <%= match.away_team_result %></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="away-team">
        <div class="flag flag-right">
            <img src="<%= match.away_team.flag %>" alt="<%= match.away_team.name %> Flag">
        </div>
        <div class="team-name">
            <%= match.away_team.name %>
        </div>
        <div class="shape">
        </div>
    </div>
</div>
