<div class="match">
    <div class="home-team">
        <div class="flag flag-left">
            <img src="<%= match.home_team.flag %>" alt="<%= match.home_team.name %> Flag">
        </div>
        <div class="team-name">
            <%= match.home_team.name %>
        </div>
        <div class="shape">
        </div>
    </div>

    <div class="score">
        <div class="text-center mb-2">
            Groupe <%= match.group %>
        </div>
        <div class="prono">
            <p>Mon prono</p>
            <% if prono.nil? %>
                <div>
                    <%= render "shared/my-prono-form", match: match, prono: @prono %>
                </div>
            <% else %>
                <div class="input-prono">
                    <div class="team-prono form-control">
                        <%= prono.home_team_prono unless prono.nil? %>
                    </div>
                    <div class="team-prono form-control">
                        <p><%= prono.away_team_prono unless prono.nil? %></p>
                    </div>
                </div>
            <% end %>

        <% unless prono.nil? %>
            <div class="result text-center mt-2">
                <p>Résultat</p>
                <p><%= match.home_team_result %><%= match.away_team_result %></p>
            </div>
        <% end %>
        </div>
    </div>

    <div class="away-team">
        <div class="flag flag-right">
            <img src="<%= match.away_team.flag %>" alt="<%= match.away_team.name %> Flag">
        </div>
        <div class="team-name">
            <%= match.away_team.name %>
        </div>
        <div class="shape">
        </div>
    </div>
</div>
