<div class="d-flex flex-column align-items-center">
  <table class="table mb-3 mx-auto">
    <caption>Classement individuel</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Joueur</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <% if @dashboard_individual_rankings.present? %>
        <% @dashboard_individual_rankings.each_with_index do |a, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= a.respond_to?(:pseudo) ? a.pseudo : a[0] %> - <%= a.name %></td>
            <td><%= a.total_score %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">Aucune donnée de classement n'est disponible pour le moment.</td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <table class="table mb-3 mx-auto">
    <caption>Classement collectif</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <% @dashboard_collective_rankings.each_with_index do |ranking, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= ranking.name %></td>
          <td><%= ranking.total_score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
