<div class="chatroom"
  data-controller="chat-subscription"
  data-chat-subscription-chat-id-value="<%= @chat.id %>"
  data-chat-subscription-current-user-id-value="<%= current_user.id %>">

  <h1>#<%= @chat.name %></h1>

  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
      </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@chat, @message],
    html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chat.name}",
      wrapper_html: { class: "flex-grow-1" }
    %>
    <%= button_tag type: 'submit', id: "btn-chat" do %>
        <i class="fa-solid fa-paper-plane" aria-hidden="true"></i>
      <% end %>
  <% end %>
</div>
