<div class="banner">
    <div class="container">
      <%# <%= render "shared/popup" %>
        <h1>Dashboard </h1>
        <div class="hello-flex">
         <h3 class="mt-2">Bonjour <%= current_user.pseudo %> 👋🏻</h3>
        </div>
        <div class="infos-flex">
          <ul>
            <li><strong>Partie -</strong> <%= @game.name %></li>
            <li><strong>Equipe -</strong> <%= @department.name %></li>
            <li><strong>Code -</strong> <%= @game.code %></li>
          </ul>
          <div>
            <% if Date.today > Date.new(2024, 6, 18) %>
              <h4>Equipe championne</h4>
              <%= @user_game.final_winner ? @user_game.final_winner.name : 'Aucune équipe sélectionnée' %>
            <% elsif @user_game.final_winner_id.nil? %>
              <%= render "shared/final-winner-form" %>
            <% else %>
              <h4>Mon prono</h4>
              <%# <%= @user_game.final_winner.name %>
              <%= render "shared/final-winner-form" %>
            <% end %>
          </div>
        </div>
        <div class="buttons-flex">
            <% if @owner == true %>
              <%= link_to(edit_organisateur_game_path(@game), class: "btn btn-test mb-2") do %>
              <i class="fa-regular fa-pen-to-square"></i> Editer la partie
              <% end %>
            <% end %>
        </div>

        <div class="performance-container">
          <p><strong> Mon dernier prono </strong></p>
            <div class="flex-perf">
              <div class="perf-category">
                <div class="perf-icon"><%= image_tag "v242_54.png", class: "avatar" %></div>
                <div class="perf-text">
                  <% if @latest_pronostic != nil %>
                    <% if @latest_pronostic.status == 'bonus'%>
                      + 4 points 
                    <% elsif @latest_pronostic.status == 'win'%>
                      + 2 point
                    <% else %>
                      + 0 point
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
  </div>
</div>

        <div class="bottom-dashboard">
        <%= render "shared/ranking" %>
        <% if @next_three_matches %>
          <div class="dashboard-match">
          <h2 class="dashboard-match-title">DERNIERS MATCHS</h2>
          <% @next_three_matches.each do |match, prono| %>
            <%= render "shared/match", match: match, prono: prono %>
          <% end %></div>
        <% end %>
        </div>
